<div class="container">
    <h1 class="head">Enrollment Module</h1>
    <hr>
    <div class="selection-container">
        <select 
        name="options" 
        class="dropdown"
        >
            <option ></option>
        </select>
        <input
        class="txtrollnumber" 
        placeholder="Enter Roll number"/>
        <input 
        class="txtcourseid" 
        placeholder="Enter course id"/>
        <button 
        class="submit cta" 
        >Submit</button>
    </div>
    <hr style="margin-top:25px;margin-bottom: 25px;">
    <label class="enrollmentlabel" style="margin-left:10%;">Student Rollnumber</label>
    <label class="enrollmentlabel">Course id</label>
    <ul class="enrollments">
        <li class="enrollment-item">
            <div class="enrollment-info">
                <div class="student-rollnumber"></div>
                <div class="course-Id"></div>
            </div>
        </li>
    </ul>
    <button class="back cta">back</button>
    <!--div class="footercontainer">
        <div class="footer">© 2025 NCU. All rights reserved.</div>
    </div-->

</div>
