<div class="container">
    <h1 class="head">Course Module</h1>
    <hr>
    <div class="selection-container">
        <select 
            name="options" 
            class="dropdown" 
        >
            <option>options</option>
        </select>
        <input 
        class="txtcoursename" 
        placeholder="Enter course name"/>
        <input
        class="txtcourseid" placeholder="Enter course id"/>
        <input 
        class="txtcourseCredit" placeholder="Enter course credit"/>
        <button  
        class="submit cta">Submit</button>
    </div>
    <hr style="margin-top:25px;margin-bottom: 25px;">
    <label class="courselabel" style="margin-left:10%;">course-name</label>
    <label class="courselabel">course-credit</label>
    <ul class="courses">
        <li class="course-item">
            <div class="course-info">
                <div class="course-name">some course</div>
                <div class="course-credits">some course credit</div>
            </div>
        </li>
    </ul>
    <button class="back cta">back</button>
    <!--div class="footercontainer">
        <div class="">© 2025 NCU. All rights reserved.</div>
    </div-->
</div>