/class3/college/.vscode
/class3/college/CourseService/target
/class3/college/EnrollmentService/target
/class3/college/StudentService/target
class3/college/CourseService/target
class3/college/EnrollmentService/target
class3/college/StudentService/target
/class4/.vscode
/class5/.vscode
/class6/college/CourseService/target
/class6/college/EnrollmentService/target
/class6/college/StudentService/target
/class4/college/.vscode
/class5/college/EnrollmentService/target
/class5/college/StudentService/target
/class8/college/StudentService/target
/class8/college/CourseService/target
/class8/college/servicediscovery/target
/class8/college/apigateway/target
/class8/college/EnrollmentService/target
/class8/college/.vscode
