<div class="container">
    <table style="width:100%;">
        <tr>
            <td style="width:33%">
            </td>
            <td style="width:33%">
                <h1 class="head">Welcome to NCU</h1>
            </td>
            <td style="width:33%">
                <div class="login">
                    <a style="margin-right:20px;">Login</a>
                    <a >Register</a>
                </div>
            </td>
        </tr>
    </table>

    <img class="headerImage" src="/assets/images/banner.jpg"/>

    <div class ="FloatingDiv">
        <img class="LinkImages" src="/assets/images/students.png"/>
        <a ><h2 class="ImageText">Student</h2></a>
    </div>
    <div class ="FloatingDiv">
        <img class="LinkImages" src="/assets/images/teachers.png"/>
        <a><h2 class="ImageText">Teachers</h2></a>
    </div>
    <div class ="FloatingDiv">
        <img class="LinkImages" src="/assets/images/courses.png"/>
        <a ><h2 class="ImageText">Courses</h2></a>
    </div>
    <div class ="FloatingDiv">
        <img class="LinkImages" src="/assets/images/enrollments.png"/>
        <a ><h2 class="ImageText">Enrollments</h2></a>
    </div>
    <div class="footer">© 2025 NCU. All rights reserved.</div>

</div>