<div class="container">


    <img class="headerImage" src="/assets/images/banner.jpg"/>

    <div class ="FloatingDiv">
        <img class="LinkImages" src="/assets/images/students.png"/>
        <a routerLink="/students"><h2 class="ImageText">Student</h2></a>
    </div>
    <div class ="FloatingDiv">
        <img class="LinkImages" src="/assets/images/teachers.png"/>
        <a routerLink="/teachers"><h2 class="ImageText">Teachers</h2></a>
    </div>
    <div class ="FloatingDiv">
        <img class="LinkImages" src="/assets/images/courses.png"/>
        <a routerLink="/courses"><h2 class="ImageText">Courses</h2></a>
    </div>
    <div class ="FloatingDiv">
        <img class="LinkImages" src="/assets/images/enrollments.png"/>
        <a routerLink="/enrollments"><h2 class="ImageText">Enrollments</h2></a>
    </div>
    <div class="footer">© 2025 NCU. All rights reserved.</div>
</div>