<div class="container">
    <h1 class="head">Course Module</h1>
    <p>{{ course.coursename }}</p>
    <p>{{ course.credits }}</p>
    <hr>
    <div class="selection-container">
        <select [ngModel]="selectedItem"
            name="options" 
            class="dropdown" 
        (ngModelChange)="onSelectionChange($event)">
            <option *ngFor="let co of getCourseOptions()" [value]="co.id">{{ co.value }}</option>
        </select>
        <input *ngIf="selectedItem === 'getcoursebyname' || selectedItem === 'addcourse'"
        [(ngModel)]="course.coursename"
        class="txtcoursename" 
        placeholder="Enter course name"/>
        <input *ngIf="selectedItem === 'getcoursebyid'"
        [(ngModel)]="course.courseid"
        class="txtcourseid" 
        placeholder="Enter course id"/>
        <input *ngIf="selectedItem === 'addcourse'"
        [(ngModel)]="course.credits"
        class="txtcourseCredit" placeholder="Enter course credit"/>
        <button *ngIf="selectedItem.length > 0"
        class="submit cta">Submit</button>
    </div>
    <hr style="margin-top:25px;margin-bottom: 25px;">
    <label class="courselabel" style="margin-left:10%;">course-name</label>
    <label class="courselabel">course-credit</label>
    <ul class="courses">
        <li class="course-item">
            <div class="course-info">
                <div class="course-name">some course</div>
                <div class="course-credits">some course credit</div>
            </div>
        </li>
    </ul>
    <button class="back cta">back</button>
    <!--div class="footercontainer">
        <div class="">© 2025 NCU. All rights reserved.</div>
    </div-->
</div>